/* resets*/
body,
h1,
ul,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* styles */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: #f9fafc;
  color: #000;
}

header {
  padding: 20px;
}

h1,
h3 {
  font-size: medium;
  font-weight: 500;
}

a,
p {
  color: #69696a;
}

.about-us {
  /* first how thick, the type, then color */
  border-left: #69696a solid 5px;
  padding-left: 10px;
}

main {
  padding: 20px;
}

a {
  display: block;
  padding: 10px 0;
}

.call-to-action {
  display: block;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 5px 0;
  text-align: center;
}

/* footer styles */
footer {
  background-color: rgba(247, 193, 162, 0.7);
  position: fixed;
  /*  inlude left just in case for example to avoide padding situation*/
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* without box-sizing: border-box; padding and borders will be excluded from the dimensions of the element (width:100%) 
  with border-box in 100% width will include the element width+its paddibgs+its border*/
  box-sizing: border-box;
}

.footer-nav ul {
  display: flex;
}

.footer-link {
  padding-right: 10px;
}

/* always at the bottom
goes from smallest to largest
1. add new styles
2. replace existing styles from mobile */
@media only screen and (min-width: 768px) {
  /* nav styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav ul {
    display: flex;
    align-items: center;
  }

  .header-nav a {
    padding: 10px;
  }

  /* body styles */
  main {
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
  }

  .left-side {
    width: 50%;
  }

  .right-side {
    position: relative;
    width: 250px;
    height: 250px;
  }

  /* circle styles */
  .circle {
    border-radius: 50%;
    position: absolute;
  }

  #circle-1 {
    width: 200px;
    height: 200px;
    background-color: rgba(247, 136, 167, 0.6);
    top: 0;
    left: 0;
  }

  #circle-2 {
    background-color: rgba(247, 193, 162, 0.7);
    height: 150px;
    width: 150px;
    bottom: 0;
    right: 0;
    /* z-index makes the item go on top of others or under, the higher number, the more priority */
    z-index: 3;
  }

  #circle-3 {
    background-color: rgba(207, 130, 213, 0.6);
    height: 100px;
    width: 100px;
    top: 20%;
    right: 0;
  }
}
